.music-table {
    min-height: 300px;
    position: relative;
}

.music-table-head-element[ng-click] {
    cursor: pointer;
    user-select: none;
}

.music-table-head-element {
    text-align: left;
    padding-right: 0px;
}
